* {
  margin:0;
  padding:0;
}

.App--movie-challenge {
  margin:0;
  padding:0;
  width: 100vw;
}

.header--app {
  margin:0;
  padding:20px; 
  height:auto;
  background-color: #495C83;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav--container {
  margin:0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

@media (min-width: 768px) {
  .nav--container {
    justify-content: space-around; 
  }
}

.nav--link {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  font-weight: 300;
  text-decoration:none;
  color:white;
}

@media (min-width: 768px) {
  .nav--link {
    font-size:18px;
  }
}

.nav--link:hover {
  text-decoration:none;
}

.active, .active:hover {
  text-decoration: none;
}

.form--container {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .form--container {
    text-align: center;
    margin:0 auto;
  }
}

.form--label {
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  font-weight: 300;
  color:white;
}

@media (min-width: 768px) {
  .form--label {
    font-size:14px;
  }
}

.form--input {
  margin:14px 0 0 0;
}

@media (min-width: 768px) {
  .form--input {
    margin-left:14px;
    }
}

.section--home,
.section--getTitle,
.section--getVoTitle,
.section--getOverview {
  margin:0 auto;
}

@media (min-width: 768px) {
  .section--home,
  .section--getTitle,
  .section--getVoTitle,
  .section--getOverview {
    padding:20px;
  }
}

.section--home-title, 
.section--getTitle-title,
.section--getVoTitle-title,
.section--getOverview-title{
  font-family: 'Roboto', sans-serif;
  font-size:32px;
  font-weight: 700;
  margin-bottom:30px;
  text-align: center;
  color: #495C83;
}

.section--getTitle-title,
.section--getVoTitle-title,
.section--getOverview-title{
  font-size:26px;
  text-align: center;
}

.section--home-list,
.section--getTitle-list,
.section--getVoTitle-list,
.section--getOverview-list {
  display:grid;
  grid-template-columns:1fr;
  grid-gap:15px;
}

@media (min-width: 768px) {
  .section--home-list,
  .section--getTitle-list,
  .section--getVoTitle-list,
  .section--getOverview-list {
  grid-template-columns:repeat(2, 1fr);
  grid-gap:20px;
  justify-items: center;
  }
}

.section--home-list__item,
.section--getTitle-list__item,
.section--getVoTitle-list__item,
.section--getOverview-list__item {
  background-color:#A8A4CE;
  display:flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding:5px;
  border-radius: 6px;
  width:200px;
  max-width: 320px;
  margin:0 auto;
}

@media (min-width: 768px) {
  .section--home-list__item,
  .section--getTitle-list__item,
  .section--getVoTitle-list__item,
  .section--getOverview-list__item {
    padding:10px;
    width:auto;
  }
}

.item--title{
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin:10px 0;
  width: 300px;
  color:#495C83;
}

@media (min-width: 768px) {
  .item--title{
    font-size:26px;
  }
}

.item--image {
  width: 150px;
  height: auto;
}

@media (min-width: 768px) {
  .item--image {
    width: 250px;
    height: auto;
  }
}

.item--text{
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  font-weight: 300;
  line-height: 1.25;
  text-align: left;
  margin:20px 0 10px;
  width: 150px;
  color:#495C83;
}

@media (min-width: 768px) {
  .item--text{
    font-size:15px;
    width: 250px;
  }
}


